@using LoLInfoSQL.Client.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LoLInfoSQL</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="Administrator, User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gracze/quavenox" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Moje Dane
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="druzyny">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Drużyny
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="graczezawodowi">
                <span class="oi oi-aperture" aria-hidden="true"></span> Pro Gracze
            </NavLink>
        </div>
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="turnieje">
                <span class="oi oi-calendar" aria-hidden="true"></span> Turnieje
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bohaterowie">
                <span class="oi oi-people" aria-hidden="true"></span> Bohaterowie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="przedmioty">
                <span class="oi oi-basket" aria-hidden="true"></span> Przedmioty
            </NavLink>
        </div>
       @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>*@
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="champions">
                <span class="oi oi-people" aria-hidden="true"></span> Champions
            </NavLink>
        </div>*@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
