@page "/"
<PageTitle>Projekt SQL</PageTitle>

<h3>Witaj!</h3>

<h5>Oto strona startowa aplikacji do zarządzania danymi z gry komputerowej League Of Legends</h5>
<h6><strong>Autorzy:</strong> Adam Kopiec 148198, Mikołaj Krakowiak 148076</h6>



@code {

}
