@page "/przedmioty/{name}"
@inject IPrzedmiotyService PrzedmiotyService
@inject NavigationManager NavigationManager

<PageTitle>@item.Nazwa</PageTitle>
<h3>@item.Nazwa 
    <AuthorizeView Roles="Administrator">
		<Authorized>
            <button class="btn btn-primary" @onclick="(() => ShowEditItem(item.Nazwa))"><i class="oi oi-pencil"></i></button>
		</Authorized>
	</AuthorizeView>
</h3>
<br />

<style>
    .container
    {
        display: flex;
        align-items: normal;
        justify-self: start;
    }
    .text
    {
        font-size: 20px;
        padding-left: 20px;
    }
    .image
    {
        
    }

</style>
<body>
    <div class="container">
        <div class="image">
            <img src="@item.Ikona" width="100px" height="100px">
        </div>
        <div class="text">
            <h5>@((MarkupString)item.Statystyki)</h5>
        </div>
    </div>
    <div> 
    </div>
</body>

@code
{
    [Parameter]
    public string? name { get; set; }

    Przedmioty item = new Przedmioty();

    protected override async Task OnParametersSetAsync()
    {
        item = await PrzedmiotyService.GetSingleItem(name);
    }

    void ShowEditItem(string Name)
    {
        NavigationManager.NavigateTo($"przedmioty/edit/{Name}");
    }
}
